Repository JWHAPO/android_pre_commit_test: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, android-lint, kotlin-lint, debug-code-check

checkstyle:
  name: Checkstyle
  entry: ./scripts/run-checkstyle.sh
  language: script
  pass_filenames: true

android-lint:
  name: Android Lint
  entry: ./scripts/run-android-lint.sh
  language: script
  pass_filenames: true

kotlin-lint:
  name: Kotlin Lint
  entry: ./scripts/run-kotlin-lint.sh
  language: script
  pass_filenames: true

debug-code-check:
  name: Debug Code Check
  entry: ./scripts/check-debug-code.sh
  language: script
  pass_filenames: true

a
  app/src/main/java/com/example/myapplication/utils/LowGuy.kt
Due: android-lint, kotlin-lint, debug-code-check

asddd
  app/src/main/java/com/example/myapplication/utils/LowGuy.kt
  setup-git-hooks.sh
Due: android-lint, kotlin-lint, debug-code-check

dd
  app/src/main/java/com/example/myapplication/MainActivity.kt
  app/src/main/java/com/example/myapplication/utils/HotGuy.java
  app/src/main/java/com/example/myapplication/utils/LowGuy.kt
  scripts/run-checkstyle.sh
  test-checkstyle.sh
  tools/sun_checks.xml
Due: checkstyle, android-lint, kotlin-lint, debug-code-check

asdd
  .pre-commit-config.yaml
  app/build.gradle
  app/src/main/java/com/example/myapplication/MainActivity.kt
  scripts/run-kotlin-lint.sh
  setup-git-hooks.sh
  setup-pre-commit.sh
  test-checkstyle.sh
Due: android-lint, kotlin-lint, debug-code-check

dd
  build.gradle
  git-hooks/pre-commit
Due: none

d
  .gitignore
Due: none

change config
  app/build.gradle
  build.gradle
  scripts/run-android-lint.sh
  scripts/run-checkstyle.sh
  scripts/run-kotlin-lint.sh
Due: none

add move pre commit file
  build.gradle
Due: none

check ktlint test
  app/src/main/java/com/example/myapplication/utils/LowGuy.kt
Due: android-lint, kotlin-lint, debug-code-check

add some
  app/src/main/java/com/example/myapplication/utils/LowGuy.kt
  scripts/run-kotlin-lint.sh
Due: android-lint, kotlin-lint, debug-code-check

change build.gradle
  .vscode/settings.json
  build.gradle
Due: none

Path conditions:
  checkstyle: any of: \.java$
  android-lint: any of: \.(java|kt)$
  kotlin-lint: any of: \.kt$
  debug-code-check: any of: \.(java|kt)$
